<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/11f8d4d62d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Hallazgo Home Deco</title>
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css" />
    <script src="../Bootstrap/js/jquery.slim.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header id="top">  
      <div class="container-fluid"> 
        <div class="row align-items-center justify-content-center align-content-center">
          <img src="../assets/img/logo.png" alt="Logotipo Hallazgo">
      </div>
      <div class="col-12">
      <nav class="navbar">
          <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/quienes_somos.html">¿Quienes somos?</a></li>
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="../views/estampas.html">Estampas</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
            </nav>
          </div>
        </div>
      </header>

      <h2>Estampas</h2>

    <section class="container-estampa"> 
      <div class="estampas">
        <img class="img-estampa" src="../assets/img/hojas1.jpeg" alt="Estampa de hojas">
        <div class="nombre-estampa">
          <p class="text-etampas">Hojas otoñal 1</p>
        </div>
      </div>  
      
      <div class="estampas">
        <img class="img-estampa" src="../assets/img/Hojas4.jpg" alt="estampa de hojas">
        <div class="nombre-estampa">
          <p class="text-etampas">Hojas otoñal 2</p>
        </div>
      </div>
      
      <div class="estampas">
        <img class="img-estampa" src="../assets/img/hojas3.jpeg" alt="Estampa de hojas">
        <div class="nombre-estampa">
          <p class="text-etampas">Hojas otoñal 3</p>
        </div>
      </div>

      <div class="estampas">
        <img class="img-estampa" src="../assets/img/hojas2.jpeg" alt="Estampa de hojas">
        <div class="nombre-estampa">
          <p class="text-etampas">Hojas beias</p>
        </div>
      </div>
      
      

      <div class="estampas">
        <img class="img-estampa" src="../assets/img/plumas.jpeg" alt="Estampa de plumas">
        <div class="nombre-estampa">
          <p class="text-etampas">Plumas</p>
        </div>
      </div>
        
      <div class="estampas">
        <img class="img-estampa" src="../assets/img/pinas.jpeg" alt="Estampa de piñas">
        <div class="nombre-estampa">
          <p class="text-etampas">Piñas</p>
        </div>
      </div>
        
      

      <div class="estampas">
        <img class="img-estampa" src="../assets/img/peonias1.jpeg" alt="estampa de peonias">
        <div class="nombre-estampa">
          <p class="text-etampas">Peonias</p>
        </div>
      </div>  

      <div class="estampas">
        <img class="img-estampa" src="../assets/img/peonias2.jpeg" alt="estampa de peonias">
        <div class="nombre-estampa">
          <p class="text-etampas">Peonias pequeñas</p>
        </div>
      </div>

      <div class="estampas">
        <img class="img-estampa" src="../assets/img/garabato.jpeg" alt="estampa de garabato">
        <div class="nombre-estampa">
          <p class="text-etampas">Garabato</p>
        </div>
      </div>
  
    </section>


    <footer>
      <h3>Contactanos</h3>
      <div class="container-pie">
      <div class="col-12 align-content-center justify-content-center align-items-center">
            <div class="redes">
                <span>
                    <i class="fab fa-facebook">Facebook</i>
                  </span>
                  <span>
                    <i class="fab fa-instagram">
                        <a class="social-icon" href="https://www.instagram.com/hallazgo.homedeco/" target="_blank" aria-label="instagram Hallazgo.homedeco">Hallazgo.Homedeco </a>      
                    </i>
                  </span>
                  <span>
                    <i class="fa-regular fa-envelope"> hallazgo.homedeco@gmail.com</i>
                  </span>
                </div>
                <div class="final">
                    <p> Copyright.| Todos los derechos resevados. </p> <br>
                    <p><a class="top" href="#top">Subir</a></p>   
                </div>
        </div>
      </div>
    </footer>
    
</body>
</html>