/* COLORES */
$primary: #f7f1e6;
$secondary: #ceaa7a;
$text-color: #6A453B;

/* ESPACIADOS */
$large: 6rem;
$medium: 2.4rem;
$small: 2rem;
$xsmall: 1rem;

/* FUENTES */
$font-family: 'Roboto', sans-serif;

/* TAMAÑO DE FUENTE*/ 
$large: 5.2em;
$medium: 2.2em;
$base: 1.6em;
$small: 1.4em;


